body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 2%;
}

/* Card.css */
.card {
  height: 150px;
  background-color: #ddd;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
    
  &--flipped {
    background-color: #fff;
  }
}

.card--Noflipped .card__content {
  font-size: 90px;
}



